* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root,
html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.root {
    width: 90%;
    height: 100%;
    overflow-x: hidden;
}

.hdr {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hdr div {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 350px;
    height: auto;
}

.date-time-social-links {
    display: flex;
    padding: 7px 10px;
    flex-direction: row;
    font-size: 18px;
    color: teal;
}

.date-time {
    width: auto;
    margin: auto;
}

.date-bx {
    margin: 0 2px;
}

.time-bx {
    margin: 0 2px;
}

.social-link {
    text-align: right;
    width: auto;
    margin: auto;
}

.social-link a {
    text-decoration: none;
    margin: 0 2px;
    color: teal;
}

.nbr-bx {
    width: 100%;
    background: rgb(204, 36, 36);
    display: flex;
    flex-flow: column wrap;
    overflow-x: auto;
    height: 40px;
    position: relative;
}

/* .nbr-bx ul {
    list-style: none;
} */

.nbr-bx .nbar-itms {
    display: block;
    width: 20%;
    height: 100%;
    text-align: center;
    overflow: auto;
    padding: 7px;


}

.nbr-bx .selected {
    background: teal;
}

.nbr-bx .nbar-itms:hover {
    background: teal;
}

.nbr-bx .nbar-itms a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: white;
    font: bolder;
    font-size: 20px;
    display: inline-block;
}

.nbr-bx .language-changer-bx {
    position: absolute;
    right: 0%;
}